# ვირტუალური გარემო
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.sqlite3

# VSCode და PyCharm ფაილები
.vscode/
.idea/

# Django secret keys
*.env

# ბაზის ფაილი 
db.sqlite3

# მიგრაციები 
**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/*.py
!**/migrations/__init__.py
